:root {
  --c-border: #cccccc;
  --c-shadow: #b1b1b1;
  --c-menu: #e2e2e2;
  --c-background: #fefefe;
  --c-text: #222222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-background: #000000;
    --c-menu: #1d1d1d;
    --c-border: #333333;
    --c-text: #eeeeee;
    --c-shadow: #111111;
  }
}
html {
  background-color: var(--c-background);
  color: var(--c-text);
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 1px solid var(--c-border);
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

button:active {
  color: var(--c-shadow);
}

#controls {
  width: max-content;
  box-shadow: 2px 2px 16px -4px var(--c-shadow);
  background-color: var(--c-menu);
  width: 100%;
  box-sizing: border-box;
  margin: 1rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

#controls input {
  display: inline-block;
}

.actions {
  display: flex;
  flex-direction: column;
}

.actions button {
  width: 100%;
}

.input-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#canvas {
  border: 1px solid var(--c-background);
  display: block;
  margin: 0 auto;
  background-color: var(--c-background);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  width: 90vmin;
}
